$accent: #cb0e0e;
$default: #6c7279;
$blue: #036cca;
$white: #ffffff;

%space-400 {
  font-family: 'spaceagecyrillic-regular',
  sans-serif;
  font-weight: 400;
}

%SF-Pro-400 {
  font-family: 'SF-Pro-Display-Regular',
  sans-serif;
  font-weight: 400;
}

%SF-Pro-700 {
  font-family: 'SF-Pro-Display-Bold',
  sans-serif;
  font-weight: 700;
}

