$accent: #cb0e0e;
$default: #6c7279;
$title: #2d3033;
$white: #ffffff;

%space-400 {
  font-family: 'spaceagecyrillic-regular',
  sans-serif;
  font-weight: 400;
}

%SF-Pro-400 {
  font-family: 'SF-Pro-Display-Regular',
  sans-serif;
  font-weight: 400;
}

%SF-Pro-700 {
  font-family: 'SF-Pro-Display-Bold',
  sans-serif;
  font-weight: 700;
}

/* <main class="main"><section class="about"><div class="container"><h2 class="title"></h2><ul class="about__list"><li class="about__item"><img class="about__img"src="images/about/branson.jpg"alt="branson"></li><li class="about__item"><img class="about__img"src="images/about/origin.jpg"alt="origin"></li><li class="about__item"><img class="about__img"src="images/about/space.jpg"alt=""></li></ul></div></section></main> */