@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {

  background: no-repeat center / cover;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 30px;
  }


  .menu {

    &__list {
      display: flex;
    }

    &__item {
      margin-right: 30px;
    }

    &__item:last-child {
      margin-right: 0;
    }

    &__link {
      font-size: 18px;
      text-transform: uppercase;
      transition: color 0.3s;
    }

    &__link:hover {
      color: #cb0e0e;
    }

  }

  .phone {
    margin-left: auto;
    font-size: 24px;
  }

  .login {
    margin: 0 134px 0 22px;
  }

  &__content {
    max-width: 600px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 1;
    @extend %space-400;
  }

  &__title span {
    font-size: 110px;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.2;
  }

  &__btn {
    width: 100%;
    padding: 16px 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    border: 1px solid $white;
  }

  &__description {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 5%;
  }

  &__description-text {
    width: 165px;
    font-size: 14px;
    line-height: 1.1;
  }

  &__description-text:first-child {
    margin-right: 52px;
  }
}

.about {

  background: no-repeat top / cover;

  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
  }

  &__item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  &__content {
    width: 600px;
  }

  &__content-title {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 1.2;
  }

  &__content-subtitle {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
    color: $blue;
  }

  &__content-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__content-text p {
    width: 165px;
  }

  &__table {
    margin-bottom: 50px;
  }

  &__table-tr {

    border: 1px solid $white;
    border-left: none;
    border-right: none;
  }

  &__table-tr:last-child {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
  }

  &__table-td {
    padding: 10px 30px 10px 0;
  }

  &__table-td span {
    display: block;
    font-size: 14px;
    line-height: 1.1;
  }

  &__table-caption {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.1;
    text-align: left;
    caption-side: bottom;
  }
}

.how-to {

  padding-bottom: 100px;
  background: no-repeat top / cover;

  &__box {
    font-size: 18px;
    text-align: center;
  }

  &__box circle,
  &__box text,
  &__box foreignObject {
    transition: fill 0.3s,
      r 0.3s, color 0.3s,
      font-size 0.3s;
    cursor: pointer;
  }


  &__box g:hover circle {
    r: 20px;
    fill: $blue;
  }

  &__box g:hover text {
    font-size: 30px;
    fill: $blue;
  }

  &__box foreignObject {
    text-align: left;
  }

  &__box g:hover foreignObject {
    font-size: 22px;
    color: $blue;
  }
}

.to-book {

  background: no-repeat center / cover;
  min-height: 100vh;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    width: 165px;
    margin-top: 100px;
    font-size: 14px;
    line-height: 1.1;
    margin-left: auto;
    margin-right: 52px;
  }

  &__text+&__text {
    margin-left: 0;
    margin-right: 0
  }
}

.info {

  padding-bottom: 100px;
  background: no-repeat center top / cover;

  .offer {

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {

      width: 500px;

    }

    &__item-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 400px;
      text-align: center;
      margin-bottom: 25px;
      padding: 40px 75px;
      border: 1px solid $white;
    }

    &__item-text {
      width: 236px;
      margin: 0 auto;
      font-size: 24px;
      line-height: 1.2;
    }

    &__item-text span {
      color: $accent;
    }

    &__old-price {
      position: relative;
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 1.1;
      text-align: right;
    }

    &__old-price::before {
      content: '';
      position: absolute;
      top: 7px;
      right: 0;
      transform: rotate(15deg);
      width: 68px;
      height: 1px;
      background-color: $accent;
    }

    &__new-price {
      font-size: 48px;
      line-height: 1.2;
    }

    &__btn {
      width: 100%;
    }
  }
}

.services {

  padding-bottom: 200px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__box-list {
    width: 620px;
    margin-right: 80px;
    font-size: 24px;
    line-height: 1.1;
  }

  &__list-title {
    margin-bottom: 25px;
  }

  &__list {
    margin-bottom: 25px;
  }

  &__list-item {
    position: relative;
    padding-left: 36px;
  }

  &__list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
  }

  &__description {
    font-size: 12px;
    line-height: 1.1;
  }

  &__bottons {
    width: 500px;
  }

  &__btn {
    width: 100%;
  }

  &__btn--first {
    position: relative;
    margin-bottom: 50px;
  }

  &__btn--first::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 192px;
    height: 150px;
    background-image: url(../images/services/man.png);
  }
}

.slider {

  text-align: center;

  &__inner {
    margin-bottom: 50px;
    padding: 100px 0;
    border: 1px solid $white;
  }

  &__img {
    margin: 0 auto;
  }

  &__description {
    font-size: 24px;
    line-height: 1.2;
    @extend %space-400;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 5;
  }

  &__arrow-left {
    left: 75px;
  }

  &__arrow-right {
    right: 75px;
  }
}

.contacts {

  padding-bottom: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    width: 500px;
  }

  &__title {
    padding-bottom: 46px;
  }

  &__box-text {
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 1.2;
  }

  &__form-input {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 0;
    font: 400 14px/1.1 'SF-Pro-Display-Regular';
    color: $white;
    border-bottom: 1px solid $white;
  }

  &__form-input::placeholder {
    font: 400 14px/1.1 'SF-Pro-Display-Regular';
    color: $white;
  }

  &__btn {
    width: 100%;
    margin-top: 70px;
  }

  &__guarantees {
    width: 500px;
  }

  &__guarantees-text {
    font-size: 24px;
    line-height: 1.2;
  }

  &__guarantees-img {
    margin-left: auto;
  }
}

.footer {

  padding: 100px 0 150px;
  background: no-repeat center / cover;

  &__inner {
    display: flex;
    justify-content: flex-end;
  }

  &__text {
    width: 165px;
    margin-right: 50px;
  }

  &__text p + p {
    margin-top: 50px;
  }

  &__menu {
    width: 120px;
    margin-right: 95px;
  }

  &__links {
    width: 165px;
  }

  &__menu-item,
  &__links-item {
    margin-bottom: 20px;
  }

  &__menu-link,
  &__links-link {
    text-transform: uppercase;
    transition: color 0.3s;
  }

  &__menu-link:hover,
  &__links-link:hover {
    color: $accent;
  }
}

@import 'media';